<div class="form-gap">

</div>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">


            <form class="login">
              <div class="alert alert-dark" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>redirection vers la page Login .</p>
                <hr>
                <p class="mb-0"> {{message}}</p>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
