/* VARIABLES  */
/* brand colors */
$color-accent: #1976D2;
$color-primary: #2D8FBF;
$color-primary-light: #B2CEDE;
$color-subtle: #414142;
$colo-highlight: #E4D9DB;
$color-white: #fff;
/* rarity */
$color-rarity-legendary: #2c2c2c;
$color-rarity-ascended: #2B6797;
$color-rarity-exotic: #F79038;

/* font*/
$font-family-base: "Open Sans", serif;


$logo-color-blue-primary: #41aee3;
$logo-color-blue-ocean: #83bce6;
$logo-color-blue-dark: #92bed6;
$logo-color-blue-accent: #9ad9f7;
$logo-color-red-highlight: #e4d9db;
$logo-color-gray-dark: #414142;
